[submodule "backend"]
	path = backend
	url = https://github.com/SaaS-Maker-Stack/saas-maker-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SaaS-Maker-Stack/saas-maker-frontend.git
[submodule "admin"]
	path = admin
	url = https://github.com/SaaS-Maker-Stack/saas-maker-admin.git
